@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* FUNDO IGUAL AO LOGIN */
body {
  height: 100vh;

  background: linear-gradient(
    100deg,
    #850808 0%,
    #681111 20%,
    #551111 40%,
    #030c1b 75%,
    #020617 100%
  );
}

/* CENTRALIZAÇÃO */
.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.login-box {
  background: #ffffff;
  padding: 50px;
  border-radius: 18px;
  width: 450px;

  box-shadow: 0 30px 70px rgba(0,0,0,0.6);
}

/* TEXTOS */
.login-box h2 {
  margin-bottom: 5px;
}

.login-box p {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
}

/* LABEL */
.login-box label {
  font-size: 13px;
  color: #333;
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 14px;
  margin: 8px 0 15px;

  border-radius: 8px;
  border: none;

  background: #f1f5f9;
  font-size: 14px;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;

  border: none;
  border-radius: 8px;

  background: linear-gradient(90deg, #ff2d2d, #ff4d4d);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

/* LINK */
.register {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.register a {
  color: #4b0d63;
  text-decoration: none;
}